* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

#container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    flex-flow: column;
    justify-content: center;
    overflow-x: hidden;
}

.slide {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100vw;
    height: 100vh;
    // https://cssgradient.io/
    background: #fff;
    background: linear-gradient(135deg, rgba(132, 234, 255, 1) 0%, rgba(188, 244, 255, 1) 3%, rgba(151, 236, 255, 1) 6%, rgba(188, 244, 255, 1) 9%, rgba(225, 250, 255, 1) 20%, rgba(251, 254, 255, 1) 90%, rgba(188, 244, 255, 1) 93%, rgba(250, 252, 255, 1) 96%, rgba(255, 255, 255, 1) 100%);
    border: #b8f3ff thin solid;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 25px;
    padding: clamp(25px, 10%, 100px);

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h2,
    p,
    li,
    ol {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
    }

    i.fas {
        font-size: 300px;
    }

    a {
        color: #56887d;
    }

    .centered-content {
        display: grid;

        * {
            justify-self: center;
            align-self: center;
        }
    }

    &.slide-title {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "slideTitle""slideContent";

        h1 {
            justify-self: center;
            align-self: end;
            text-align: center;
            grid-area: slideTitle;
        }

        h2 {
            justify-self: center;
            align-self: start;
            text-align: center;
            grid-area: slideContent;
        }
    }

    &.slide-full,
    .slide-two-column {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "slideTitle slideTitle""slideContent slideContent";

        h1 {
            // justify-self: start;
            // align-self: start;
            grid-area: slideTitle;
        }

        .slide-content {
            // justify-self: start;
            // align-self: start;
            grid-area: slideContent;
        }
    }

    &.slide-two-column {
        grid-template-areas: "slideTitle slideTitle""slideContent slideContentRight";

        .slide-content-right {
            // justify-self: start;
            // align-self: start;
            grid-area: slideContentRight;
        }
    }
}

#cssTransitionExample {
    #cssTransition {
        transition: all 1s;
        color: pink;

        &:hover {
            color: red;
            font-size: 500px;
            transition: all 1s cubic-bezier(.72,1.56,.66,-0.13);
        }
    }
}

#cssAnimationExample {
    #cssAnimation {
        color: red;
        animation: spinningColors 8s infinite;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    #cssAnimationExample {
        #cssAnimation {
            animation: none;
        }
    }
 }
 
@keyframes spinningColors {
    0% {
        color: red;
        transform: rotate(0deg);
    }
    25% {
        color: yellow;
        transform: rotate(90deg);
    }
    50% {
        color: blue;
        transform: rotate(180deg);
    }
    100% {
        color: green;
        transform: rotate(270deg);
    }
}