* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

#container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    flex-flow: column;
    justify-content: center;
    overflow-x: hidden;
}

.slide {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100vw;
    height: 100vh;
    // https://cssgradient.io/
    background: #fff;
    background: linear-gradient(135deg, rgba(132, 234, 255, 1) 0%, rgba(188, 244, 255, 1) 3%, rgba(151, 236, 255, 1) 6%, rgba(188, 244, 255, 1) 9%, rgba(225, 250, 255, 1) 20%, rgba(251, 254, 255, 1) 90%, rgba(188, 244, 255, 1) 93%, rgba(250, 252, 255, 1) 96%, rgba(255, 255, 255, 1) 100%);
    border: #b8f3ff thin solid;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 25px;
    padding: clamp(25px, 10%, 100px);

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h2,
    p,
    li,
    ol {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
    }

    i.fas {
        font-size: 300px;
    }

    a {
        color: #56887d;
    }

    .centered-content {
        display: grid;

        * {
            justify-self: center;
            align-self: center;
        }
    }

    &.slide-title {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "slideTitle""slideContent";

        h1 {
            justify-self: center;
            align-self: end;
            text-align: center;
            grid-area: slideTitle;
        }

        h2 {
            justify-self: center;
            align-self: start;
            text-align: center;
            grid-area: slideContent;
        }
    }

    &.slide-full,
    .slide-two-column {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "slideTitle slideTitle""slideContent slideContent";

        h1 {
            // justify-self: start;
            // align-self: start;
            grid-area: slideTitle;
        }

        .slide-content {
            // justify-self: start;
            // align-self: start;
            grid-area: slideContent;
        }
    }

    &.slide-two-column {
        grid-template-areas: "slideTitle slideTitle""slideContent slideContentRight";

        .slide-content-right {
            // justify-self: start;
            // align-self: start;
            grid-area: slideContentRight;
        }
    }
}
#animatingSVGCSSExample{
    #batteryMeter {
        animation: charge 5s ease-out infinite, batteryStatus 5s ease-out infinite;
      }
      
      
      @keyframes charge {
        0% {transform: scaleX(0.1);}
        100% {transform: scaleX(1);}
      }
      
      @keyframes batteryStatus {
          0%, 30% {fill: red;}
          40%, 100% {fill:#72CC58;}
      }      
}
#cssTransitions {
    .transforms {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        span {
            width: 100px;
            height: 100px;
        }

        .scale {
            background-color: blue;
            animation: scaleSample 5s infinite alternate;
            transform: scale(0.3, 0.3);
            transition-property: transform 1s;
        }

        .rotate {
            background-color: purple;
            animation: rotateSample 5s infinite alternate;
            transform: rotate(360deg);
            transition-property: transform 1s;
        }

        .skew {
            background-color: orange;
            animation: skewSample 5s infinite alternate;
            transform: skew(60deg, 10deg);
            transition-property: transform 1s;
        }

        .translate {
            background-color: green;
            animation: translateSample 5s infinite alternate;
            transform: translate(50px, 10px);
            transition-property: transform 1s;
        }
    }
}

@keyframes scaleSample {
    100% {
        transform: scale(1, 1);
    }
}

@keyframes rotateSample {
    100% {
        transform: rotate(0deg);
    }
}

@keyframes skewSample {
    100% {
        transform: skew(0deg, 0deg);
    }
}

@keyframes translateSample {
    100% {
        transform: translate(0, 0);
    }
}

#cssTransitionExample {
    #cssTransition {
        transition: all 1s;
        color: pink;

        &:hover {
            color: red;
            font-size: 500px;
            transition: all 1s cubic-bezier(.72, 1.56, .66, -0.13);
        }
    }
}

#cssAnimationExample {
    #cssAnimation {
        color: red;
        animation: spinningColors 8s infinite;
    }
}

.stopAnimation {
    animation: none !important;

    * {
        animation: none !important;
    }
}


@media screen and (prefers-reduced-motion: reduce) {
    #cssAnimationExample {
        #cssAnimation {
            animation: none;
        }
    }
}

@keyframes spinningColors {
    0% {
        color: red;
        transform: rotate(0deg);
    }

    25% {
        color: yellow;
        transform: rotate(90deg);
    }

    50% {
        color: blue;
        transform: rotate(180deg);
    }

    100% {
        color: green;
        transform: rotate(270deg);
    }
}

.flipping-text-trigger {
    text-align: center;
    perspective: 800px;

    span {
        display: inline-block;
        color: #77c6bc;
        transform-origin: 50% 70%;
        font-size: 100px;
    }

    span:nth-child(2n) {
        color: purple;
    }

    &.flipping-text {
        span:nth-child(1) {
            animation: flipUp 1s ease-in both,
                flipDown .5s ease-out 2s forwards,
                swing 4s ease forwards 4.1s;
        }

        span:nth-child(2) {
            animation: flipUp 1s ease-in .2s both,
                flipDown .5s ease-out 2.2s forwards,
                swing 4s ease forwards 3.8s;
        }

        span:nth-child(3) {
            animation: flipUp 1s ease-in .4s both,
                flipDown .5s ease-out 2.4s forwards,
                swing 4s ease forwards 4.4s;
        }

        span:nth-child(4) {
            animation: flipUp 1s ease-in .6s both,
                flipDown .5s ease-out 2.6s forwards,
                swing 4s ease forwards 4.8s;
        }

        span:nth-child(5) {
            animation: flipUp 1s ease-in .8s both,
                flipDown .5s ease-out 2.8s forwards,
                swing 4s ease forwards 4.6s;
        }

        span:nth-child(6) {
            animation: flipUp 1s ease-in 1s both,
                flipDown .5s ease-out 3s forwards,
                swing 4s ease forwards 5s;
        }

        span:nth-child(7) {
            animation: flipUp 1s ease-in 1.2s both,
                flipDown .5s ease-out 3.2s forwards,
                swing 4s ease forwards 4s;

        }
    }

}

@keyframes flipUp {
    from {
        transform: rotateX(90deg);
    }

    to {
        tranform: rotateX(0deg);
    }
}

@keyframes flipDown {
    to {
        transform: rotateX(-180deg);
    }
}

@keyframes swing {
    0% {
        transform: rotateX(-180deg);
    }

    20% {
        transform: rotateX(-180deg) rotateY(-45deg);
    }

    40% {
        transform: rotateX(-180deg) rotateY(45deg);
    }

    60% {
        transform: rotateX(-180deg) rotateY(-45deg);
    }

    80% {
        transform: rotateX(-180deg) rotateY(45deg);
    }

    100% {
        transform: rotateX(-180deg);
    }
}