*{
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    flex-flow: column;
    justify-content: center;
    overflow-x:hidden;
}

.slide {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100vw;
    height: 100vh;
    // https://cssgradient.io/
    background: #fff;
    background: linear-gradient(135deg, rgba(132,234,255,1) 0%, rgba(188,244,255,1) 5%, rgba(151,236,255,1) 10%, rgba(188,244,255,1) 15%, rgba(225,250,255,1) 25%, rgba(251,254,255,1) 90%, rgba(188,244,255,1) 93%, rgba(250,252,255,1) 96%, rgba(255,255,255,1) 100%);
    border: #b8f3ff thin solid;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 25px;
    padding: clamp(25px, 10%, 150px);
    h1{
        font-family: 'Merriweather', serif;
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    h2, p,li,ol{
        font-family: 'Montserrat', sans-serif;
    }
    &.slide-title{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "slideTitle" "slideContent";
        h1{
            justify-self: center;
            align-self: end;
            text-align: center;
            grid-area: slideTitle;
        }
        h2{
            justify-self: center;
            align-self: start;
            text-align: center;
            grid-area: slideContent;
        }
    }
    &.slide-full, .slide-two-column{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "slideTitle slideTitle" "slideContent slideContent"
        h1{
            justify-self: start;
            align-self: start;
            grid-area: slideTitle;
        }
        .slide-content{
            justify-self: start;
            align-self: start;
            grid-area: slideContent;
        }
    }
    &.slide-two-column{
        grid-template-areas: "slideTitle slideTitle" "slideContent slideContentRight";
        .slide-content-right{
            justify-self: start;
            align-self: start;
            grid-area: slideContentRight;
        }
    }
}